<div class="profile_avatar_box" *ngIf="!loading">
    <img src="../../../../assets/img/profile_icon.svg" alt="avatar">
    <h3 style="text-align: center;">{{ student?.person.name }}</h3>
    <h5 [translate]="'StudentStatus.'+ student?.studentStatus.alternateName"></h5>
</div>

<!--Progress Bar Code-->
<div class="d-none d-sm-block">
    <div class="progress_bar__container" *ngIf="!loading">
        <div class="progress_bar__first_column">
            <div class="progress_bar__first_top_box">
                <h6>{{ student?.inscriptionDate| localizedDate:'LLLL' }}</h6>
                <h6>{{ student?.inscriptionDate| localizedDate:'yyyy' }}</h6>
            </div>
            <div class="progress_bar__first_main_box">
                <div class="progress_bar__circle progress_bar__circle_style_1"></div>
                <div class="progress_bar__line"></div>
            </div>
            <div class="progress_bar__first_bottom_box">
                <h5>1o
                    <span [translate]="'Profile.Semester'"></span>
                </h5>
                <h5>(<span [translate]="'Profile.Enrollment'"></span>)</h5>
            </div>
        </div>
        <div class="progress_bar__inner_column">
            <div class="progress_bar__top_box">
                <h6 *ngIf="student.studentStatus.alternateName === 'active'">
                    <span [translate]="'Profile.Now'"></span>
                </h6>
            </div>
            <div class="progress_bar__main_box">
                <div class="progress_bar__line"></div>
                <div class="progress_bar__circle progress_bar__circle_style_1" [ngStyle]="{'display': student.studentStatus.alternateName === 'graduated' ? 'none' : 'inherit'}"></div>
                <div class="progress_bar__small_circle_box" [ngStyle]="{'display': student.studentStatus.alternateName === 'active' ? 'none' : 'inherit'}">
                    <div class="progress_bar__small_circle"></div>
                    <div class="progress_bar__small_circle"></div>
                    <div class="progress_bar__small_circle"></div>
                </div>
                <div class="progress_bar__line"></div>
            </div>
            <div class="progress_bar__bottom_box">
                <h3 *ngIf="student.studentStatus.alternateName === 'active'" style="text-align: center;">{{ student?.semester }}
                    <span [translate]="'Profile.Semester'"></span>
                </h3>
            </div>
        </div>
        <div class="progress_bar__last_column">
            <div class="progress_bar__last_top_box">
                <h6 *ngIf="student.studentStatus.alternateName == 'graduated'">{{ student?.graduationDate | localizedDate:'LLLL' }}</h6>
                <h6 *ngIf="student.studentStatus.alternateName == 'graduated'">{{ student?.graduationDate | localizedDate:'yyyy' }}</h6>
            </div>
            <div class="progress_bar__last_main_box">
                <div class="progress_bar__line"></div>
                <div class="progress_bar__circle progress_bar__circle_style_1" [ngStyle]="{'display': student.studentStatus.alternateName === 'active' ? 'none' : 'inherit'}"></div>
                <div class="progress_bar__small_circle_box" [ngStyle]="{'display': student.studentStatus.alternateName === 'graduated' ? 'none' : 'inherit'}">
                    <div class="progress_bar__small_circle"></div>
                    <div class="progress_bar__small_circle"></div>
                    <div class="progress_bar__small_circle"></div>
                </div>
            </div>
            <div class="progress_bar__last_bottom_box">
                <h3 *ngIf="student.studentStatus.alternateName == 'graduated'"><span [translate]="'Profile.Degree'"></span></h3>
            </div>
        </div>
    </div>
</div>
<!--End of Progress Bar Code-->

<!--Card 1 Code-->
<div class="card font-style" *ngIf="!loading">
    <div class="card-body">

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.Department'"></span>
            </div>
            <div class="col-lg-3 data-colored">
                <span *ngIf="student?.department.name">{{student?.department.name}}</span>
            </div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.Specialty'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.specialty">{{student?.specialty}}</span>
            </div>
        </div>

        <div class="row">
            <!--The first two are empty columns-->
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.Curriculum'"></span>
            </div>
            <div class="col-lg-3 data-colored">
                <span *ngIf="student?.studyProgram?.name">{{student?.studyProgram?.name}}</span>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.UniqueIdentifier'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.uniqueIdentifier">{{student?.uniqueIdentifier}}</span>
            </div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.StudentIdentifier'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.studentIdentifier">{{student?.studentIdentifier}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.InscriptionMode'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.inscriptionMode">{{student?.inscriptionMode.name}}</span>
            </div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.InscriptionYear'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.inscriptionYear">{{student?.inscriptionYear.name}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.InscriptionPeriod'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.inscriptionPeriod">{{student?.inscriptionPeriod.name}}</span>
            </div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.InscriptionSemester'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.inscriptionSemester">{{student?.inscriptionSemester.name}}</span>
            </div>
        </div>

    </div>
</div>
<!--End Of Card 1 Code-->

<!--Card 2 Code-->
<div class="card font-style">
    <div class="card-body">

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.FirstName'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.person">{{student?.person.givenName}}</span>
            </div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.Username'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.user">{{student?.user.name}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.Lastname'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.person">{{student?.person.familyName}}</span>
            </div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.Email'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.person">{{student?.person.email}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.SSN'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.person">{{student?.person.SSN}}</span>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.HomePhone'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.person.homePhone">{{student?.person.homePhone}}</span>
            </div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.MobilePhone'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.person.mobilePhone">{{student?.person.mobilePhone}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 label">
                <span [translate]="'Profile.HomeAddress'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.person.homeAddress">{{student?.person.homeAddress}}</span>
            </div>
            <div class="col-lg-3 label">
                <span [translate]="'Profile.TemporaryAddress'"></span>
            </div>
            <div class="col-lg-3">
                <span *ngIf="student?.person.temporaryAddress">{{student?.person.temporaryAddress}} </span>
            </div>
        </div>
    </div>
</div>
<!--End of Card 2 Code-->
