.row{
    margin-top: 1%;
    margin-bottom: 1%;
}

.label{
    color: #678898;; //$gray-500
}

.label2{
    position: absolute;
    color: #678898;; //$gray-500
    left: 50%;
}

.font-style{
    font-size: 105%;
    box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
}

.data-colored{
    color: #20a8d8; //$blue
}

.profile_avatar_box{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top:30px;
	margin-bottom:20px;
}
/************************* PROGRESS_BAR *************************/

//Container with progress_bar
.progress_bar__container {
	display: flex;
	margin: 20px 20px 60px 20px;
}

//Main line of progress_bar
.progress_bar__line {
	flex-grow: 1;
	height: 3px;
	background-color: #f0f3f5; //$progress-bg
}

//Circle points of progress_bar
.progress_bar__circle {
	height: 20px;
	width: 20px;
}

//Color style 1
.progress_bar__circle_style_1 {
	background-color: #869FAC;
	border-radius: 50%;
	border-style: solid;
	border-width: 4px;
	border-color: #FCFDFD;
	box-shadow: 0 0 0 0.2px #869FAC;
}

//Color style 2
.progress_bar__circle_style_2 {
	background-color: #FFFFFF;
	border-radius: 50%;
	border-style: solid;
	border-width: 4px;
	border-color: #B2B2B2;
}

//Small circle points of progress_bar
.progress_bar__small_circle {
	height: 12px;
	width: 12px;
	background-color: #bbb;
	border-radius: 50%;
}

//Container with 3 small points in a row
.progress_bar__small_circle_box {
	padding-left: 5px;
	padding-right: 5px;
	width: 60px;
	height: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


/* progress_bar is essentialy a TABLE
   with first, inner, last COLLUMN
   as well as top, main, bottom ROW */

//It's a box: first collumn, top row
.progress_bar__first_top_box {
	height: 50px;
	width: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

//It's a box: last collumn, top row
.progress_bar__last_top_box {
	height: 50px;
	width: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

//It's a box: inner collumn, top row
.progress_bar__top_box {
	height: 50px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

//It's a box: first collumn, main row
.progress_bar__first_main_box {
	height: 50px;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 80px;
	/* width-10 because of the bullet */
}

//It's a box: inner collumn, main row
.progress_bar__main_box {
	height: 50px;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

//It's a box: last collumn, main row
.progress_bar__last_main_box {
	height: 50px;
	width: 180px;
	padding-right: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

//It's a box: first collumn, bottom row
.progress_bar__first_bottom_box {
	height: 50px;
	width: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

//It's a box: last collumn, bottom row
.progress_bar__last_bottom_box {
	height: 50px;
	width: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

//It's a box: inner collumn, bottom row
.progress_bar__bottom_box {
	height: 50px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

//It's a collumn: first collumn
.progress_bar__first_column {
	display: flex;
	flex-direction: column;
}

//It's a collumn: inner collumn
.progress_bar__inner_column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

//It's a collumn: last collumn
.progress_bar__last_column {
	display: flex;
	flex-direction: column;
}

//Mobile screen
@media only screen and (max-width: 479px) {
	.mobile-hide {
		display: none !important;
	}
}
