<div class="row" *ngIf="!loading">
    <div class="col-lg-12">
        <div>
            <h2 class="py-4" [translate]="'RegistrationPrevious.Title'"></h2>
        </div>
        <p class="font-lg text-info" [translate]="'Registrations.RegistrationHistoryInfo'"></p>
        <div>
            <div class="reg_courses_body">

                <div class="reg_courses_body__semesterChoice d-none d-lg-block">
                    <!-- filtering By Semester -->
                    <!-- <div (click)="removeSemesterFiltering()" [translate]="'Registrations.RemoveFilter'"></div> -->
                    <div>
                        <a  *ngFor="let period of periods" (click)="filterByPeriod(period)"class="semesterChoice-item" href="javascript:void(0)" [ngClass]="{'chosenPeriodForFiltering': period == chosenPeriod}">
                        {{period}}
                        </a>
                    </div>

                </div>
                <div class="reg_courses_body__main">
                    <div class="rectangle-3" *ngFor="let registration of registrations">
                        <div class="card-body">
                        <div class="list-title">
                            <span [translate]="'RegistrationPrevious.' +  registration.registrationPeriod.alternateName"></span>
                            <span [translate]="'Registrations.Semester'"></span>
                            <span>{{registration.registrationYear.name}}</span>
                        </div>
                        <div class="display-flex">
                                <!-- atomic css -->
                                <div class="lessons-container">
                                  <!-- TODO: Adding for example "1o Semester" -->
                                  <!--the class mt-20 is part of atomic css -->
                                  <ul class="list-group list-group-header">
                                    <li class="list-group-item lesson_info-categories">
                                      <div class="display-flex">
                                        <div class='list-group-item_lg_column' [translate]="'Registrations.Course'"></div>
                                        <div class='list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.Code'"></div>
                                        <div class='list-group-item_md_column d-none d-sm-block' [translate]="'Registrations.Instructor'"></div>
                                        <div class='list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.Type'"></div>
                                          <div class='list-group-item_sm_column d-none d-lg-block' [translate]="'Registrations.Semester'"></div>
                                        <div class='list-group-item_sm_column d-none d-lg-block' [translate]="'Registrations.CP'"></div>
                                        <div class='list-group-item_sm_column d-none d-lg-block' [translate]="'Registrations.ECTS'"></div>
                                      </div>
                                    </li>
                                  </ul>
                                  <!-- END OF CARD INFO -->
                            
                                  <ul class="list-group list-group-body" >
                                    <li class="list-group-item" *ngFor="let course of registration.classes">
                                      <div class="display-flex list-color">
                                        <div class='list-group-item_lg_column'>{{course?.courseClass?.title}}</div>
                                          <div class='list-group-item_sm_column d-none d-sm-block'>{{course?.course.displayCode}}</div>
                                        <div class='list-group-item_md_column d-none d-sm-block'>
                                            <div *ngFor="let instructor of course?.courseClass?.instructors">
                                                {{instructor.instructor.familyName}}
                                            </div>
                                        </div>
                                        <div class='list-group-item_sm_column d-none d-sm-block'>{{course?.courseType?.abbreviation}}</div>
                                          <div class='list-group-item_sm_column d-none d-lg-block'>{{course?.semester}}</div>
                                        <div class='list-group-item_sm_column d-none d-lg-block'>{{course?.units}}</div>
                                        <div class='list-group-item_sm_column d-none d-lg-block'>{{course?.ects}}</div>
                                      </div>
                                    </li>
                                  </ul>
                            
                                  <!--Show this when registration is empty-->
                                  <div class="display-flex" *ngIf="isEmptyRegistration">
                                    <div class="col-12 text-center">
                                      <h2 class="mt-2 empty_reg" [translate]="'Checkout.EmptyRegistration'"></h2>
                                    </div>
                                  </div>
                            
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <div class="d-none d-lg-block">

        </div>
    </div>
</div>
